@import url('https://fonts.googleapis.com/css2?family=Forum&family=Monoton&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rozha+One&family=Syncopate:wght@400;700&display=swap');

body {
  background: linear-gradient(85deg, rgb(249 255 247) 0%, rgb(242 255 254) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Rozha One', serif;
  letter-spacing: 6px;
  color: rgb(137 203 195);
}

h3 {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: rgb(114 167 169);
  font-weight: 500;
  letter-spacing: 1px;
}

img {
  border-radius: 4px;
}

video {
  border-radius: 4px;
}

.btn-card-detail-back {
  color: rgb(114 167 169);
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  background: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  transition: 0.5s;
}

.btn-card-detail-back:hover {
  color: rgb(50, 108, 110);
}

.nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 8px 0 16px 0;
}

.btn-nav {
  border: 0;
  background-color: rgba(0,0,0,0);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(114 167 169);
  transition: 0.5s;
}

.btn-nav:hover {
  color: rgb(50, 108, 110);
  transition: 0.5s;
}

.btn-nav.active {
  color: rgb(50, 108, 110);
  font-weight: 500;
}

.projects {
  display: flex;
  justify-content: center;
}

.projects.hide {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

.card-project img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.card-project {
  position: relative;
}

.card-project-text {
  background: linear-gradient(85deg, rgb(36 59 61 / 86%) 0%, rgb(41 66 51 / 30%) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
  color: rgb(255 255 255);
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 4px;
}

.card-project-text:hover {
  background: none;
  color: rgba(0,0,0,0);
  transition: 0.5s;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: rgb(64, 73, 68);
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  color: rgb(138 162 168);
}

p {
  color: rgb(86 107 119);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.card-info a {
  color: rgb(86 107 119);
  font-size: 32px;
  transition: 0.6s;
}

.card-info a:hover {
  color:rgb(114 167 169);
}

.card-info {
  display: block;
  background: #fefefe;
  padding: 30px;
  box-shadow: 0px 5px 50px 1px rgb(119 166 187 / 34%);
  margin: 16px 0 24px 0;
  border-radius: 8px;
}

.card-info.hide {
  display: none;
}

.card-info-details {
  display: block;
  background: #fefefe;
  padding: 30px;
  box-shadow: 0px 5px 50px 1px rgb(119 166 187 / 34%);
  margin: 16px 0 24px 0;
  border-radius: 8px;
}

.card-info-details.hide {
  display: none;
}

.card-info-buttons {
  display: flex;
  gap: 16px;
}

.footer {
  font-family: inherit;
  color: rgb(138 162 168);
}

.btn-project {
  border: 0;
  background: none;
  padding: 0;
}

.header-card-details {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-end;
  justify-content: space-between;
}

.header-card-details > h3 {
  margin: 0 12px 0 0;
  padding: 0;
  font-size: 24px;
}

.btn-card-details a {
  color: white;
  background-color:rgb(89, 171, 174);
  padding: 2px 12px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.6s;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn-card-details a:hover {
  color: white;
  background-color:rgb(67, 137, 139);
}

.btn-card-details {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  margin-top: 8px;
}

.card-details-icons {
  margin: 12px 0 4px 0;
}

.card-details-icons i {
  color: rgb(86 107 119);
  font-size: 20px;
}

.card-details-images-neighborhud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin-right: 16px;
}

.card-details-images {
  margin-right: 16px;
}

.card-details-images-neighborhud img, .card-details-images img {
  height: 250px;
}

.card-details {
  display: flex;
  align-items: center;
}

.card-details p {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content {
    width: 600px;
  }
  .row {
    padding: 32px 0 !important;
  }
  .slider-card img {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 900px) {
  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content {
    width: 75%;
  }
}

@media only screen and (min-width: 900px) {
  body {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content {
    width: 700px;
  }
}
