.btn-card-detail-back {
  color: rgb(177 170 219);
  background: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn-card-detail-back:hover {
  color: rgb(152, 144, 200);
}

.btn-project {
  border: 0;
  background: none;
  padding: 0;
}

.btn-card-details {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
  gap: 4px;
}

.btn-card-details a {
  background-color:rgb(177 170 219);
  color: white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 2px 12px;
  border-radius: 50px;
  transition: 0.6s;
}

.btn-card-details a:hover {
  background-color:rgb(164 187 232);
  color: white;
}

.btn-slide-1-right,
.btn-slide-1-left,
.btn-slide-2-right,
.btn-slide-2-left {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.fa-angle-left,
.fa-angle-right {
  color: rgb(204 179 220);
  font-size: 30px;
  transition: 0.5s;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: rgb(142 172 232);
  font-size: 30px;
}
