.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.projects.hide {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card-project {
  position: relative;
}

.card-project-text {
  background: none;
  color: rgba(0,0,0,0);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: crosshair;
}

.card-project-text:hover {
  background: linear-gradient(85deg, rgba(81, 67, 122, 0.86) 0%, rgba(116, 80, 139, 0.3) 100%);
  color: rgb(255 255 255);
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: 400;
  text-align: center;
  text-shadow: 0px 2px 11px #3d2a62c9;
  letter-spacing: 2px;
  word-wrap: break-word;
  border-radius: 4px;
  transition: 0.5s;
}

.card-project img {
  height: 150px;
  width: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.card-info {
  background: #fefefe;
  display: block;
  padding: 30px;
  margin: 16px 0 24px 0;
  border-radius: 8px;
  box-shadow: 0px 5px 50px 1px rgba(222, 181, 232, 0.34);
}

.card-info.hide {
  display: none;
}

.card-info a {
  color: rgb(181 186 205);
  font-size: 32px;
  transition: 0.6s;
}

.card-info a:hover {
  color:rgb(127, 124, 159);
}

.card-info-details {
  background: #fefefe;
  display: block;
  padding: 30px;
  margin: 0 0 32px 0;
  border-radius: 8px;
  box-shadow: 0px 5px 50px 1px rgb(222 181 232 / 34%);
}

.card-info-details.hide {
  display: none;
}

.card-info-buttons {
  display: flex;
  gap: 16px;
}

.card-details {
  display: flex;
  align-items: center;
}

.card-details-header  {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.card-details-header  > h3 {
  font-weight: 500;
  font-size: 22px;
  padding: 0;
  margin: 0 12px 0 0;
}

.card-details-images {
  margin-right: 16px;
}

.card-details-images-neighborhud img,
.card-details-images img {
  height: 250px;
}

.card-details-images-neighborhud {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin-right: 16px;
}

.card-details p {
  text-align: left;
}

.card-details-icons {
  margin: 12px 0 4px 0;
}

.card-details-icons i {
  color: rgb(197, 176, 205);
  font-size: 20px;
}
